@keyframes hunterExpand {
    0% {
        height: 1px;
        width: 100px;
        min-height: 0px;
        margin-left: calc(50% - 50px);
    }
    40% {
        min-height: 0px;
        height: 1px;
        width: 960px;
        margin-left: calc(50% - 480px);
    }
    100% {
        height: auto;
        min-height: 200px;
        width: 960px;
        margin-left: calc(50% - 480px);
    }
}
.todo-hunter-container{
    width: 960px;
    margin-left: calc(50% - 480px);
    min-height: 200px;
    -webkit-animation: hunterExpand 1s ease;
    -o-animation: hunterExpand 1s ease;
    animation: hunterExpand 1s ease;
    -webkit-box-shadow: 5px 5px 5px 10px #aaaaaa;
    -moz-box-shadow: 5px 5px 5px 10px #aaaaaa;
    box-shadow: 5px 5px 5px 10px #aaaaaa;
    
    /* DEV */
    /*background: #000000;*/
}