#container{
    margin-top: 50px;
}
.navbar-nav li a{
    transition: all .2s ease;
}
.navbar-header a{
    transition: all .2s ease;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
@media (min-width: 1000px){
    .site-wrapper-960{
        width: 960px;
        margin-left: calc(50% - 480px);
        margin-top: 40px;
    }
}